@binding-set PaneFocusBindings
{
    bind "F1" { "focus_pane" (0) };
    bind "F2" { "focus_pane" (1) };
    bind "F3" { "focus_pane" (2) };
    bind "F4" { "focus_pane" (3) };
    bind "F5" { "focus_pane" (4) };
    bind "F6" { "focus_pane" (5) };
    bind "F7" { "focus_pane" (6) };
    bind "F8" { "focus_pane" (7) };
    bind "F9" { "focus_pane" (8) };
    bind "F10" { "focus_pane" (9) };
    bind "F11" { "focus_pane" (10) };
    bind "F12" { "focus_pane" (11) };
}

@binding-set OtherBindings
{
    bind "<Ctrl>S" { "sync_wd" () };
    
    bind "<Ctrl>less" { "focus_terminal" () };
}

@binding-set FilePaneContainerBindings
{
    bind "<Ctrl><Shift>N" { "new_file_pane" () };
    bind "<Ctrl><Shift>D" { "delete_file_pane" () };
}

@binding-set FileTreeNavigationBindings
{
    /*Currently not functional, since the tree view swallows the events.
    bind "Left" { "navigate_up" () };
    bind "Right" { "navigate_down" () };*/

    bind "BackSpace" { "navigate_up" () };
}


main-window {
    -gtk-key-bindings: PaneFocusBindings, OtherBindings;
}

file-pane {
    -gtk-key-bindings: FileTreeNavigationBindings;
}

file-pane-container {
    -gtk-key-bindings: FilePaneContainerBindings;
}

main-window-terminal {
    -gtk-key-bindings: PaneFocusBindings;
}